<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>TCWZ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

<ion-card>
    <img src = "../../assets/img/2.png" (click)="praiseTapped($event, song)"/>
    <div class="card-title">1000 Praises</div>
    <div class="card-subtitle">Praises From Bible</div>
  </ion-card>
<ion-card>
    <img src = "../../assets/img/2.png" (click)="quoteTapped($event, song)"/>
    <div class="card-title">English Christian Songs</div>
    <div class="card-subtitle">Worship The Lord</div>
  </ion-card>
  <ion-card>
    <img src = "../../assets/img/2.png" (click)="songTapped($event, song)"/>
    <div class="card-title">Telugu Christian Songs</div>
    <div class="card-subtitle">తెలుగు క్రైస్థవ గీతాలు</div>
  </ion-card>
</ion-content>
