<!--
  Generated template for the Praise page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "primary">
    <button menuToggle ion-button icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>App Title</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
        <ion-title>1000 Praises</ion-title>
    </ion-toolbar>

</ion-header>


<!--<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item *ngFor="let p of praises">
                {{p.Praises}}
                <p>{{p.Verses}}</p>
            </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>-->

<ion-tabs>
    <ion-tab tabTitle="English" [root]="praiseEnglishTab" [rootParams]="praises" tabIcon="basketball"></ion-tab>
    <ion-tab tabTitle="Telugu" [root]="praiseTeluguTab" [rootParams]="praises" tabIcon="podium"></ion-tab>
</ion-tabs>



